<div class="main-content">
  <h1>Bienvenido al Portal del Estudiante</h1>
  <p class="description">
    Aquí podrás acceder a todos tus recursos académicos, gestionar tus cursos y mantenerte informado sobre las novedades
    de la universidad.
  </p>

  <div class="info-cards">
    <div class="card">
      <mat-icon>school</mat-icon>
      <h3>Mis Cursos</h3>
      <p>Visualiza los cursos en los que estás matriculado y revisa los contenidos asignados.</p>
      <a href="">Ver Cursos</a>
    </div>

    <div class="card">
      <mat-icon>grading</mat-icon>
      <h3>Mis Notas</h3>
      <p>Consulta tus calificaciones y el historial académico de tus ciclos cursados.</p>
      <a href="">Ver Notas</a>
    </div>

    <div class="card">
      <mat-icon>announcement</mat-icon>
      <h3>Últimas Noticias</h3>
      <p>Mantente al día con los anuncios importantes y las novedades académicas.</p>
      <a href="">Leer más</a>
    </div>
  </div>

  <div class="utp-banner">
    <img src="../../../assets/banner_utp_user.png">
  </div>
</div>