<div class="main-content">
  <h1>Bienvenido al Portal del Docente</h1>
  <p class="description">
    Aquí podrás gestionar las categorías, cuestionarios, asignaciones y más dentro del sistema.
  </p>

  <div class="info-cards">
    <div class="card">
      <mat-icon>category</mat-icon>
      <h3>Administrar Categorías</h3>
      <p>Organiza y edita las categorías para los exámenes.</p>
      <a routerLink="/admin/categorias">Ir a Categorías</a>
    </div>

    <div class="card">
      <mat-icon>assignment</mat-icon>
      <h3>Ver Cuestionarios</h3>
      <p>Consulta y administra los exámenes registrados.</p>
      <a routerLink="/admin/examenes">Ver Cuestionarios</a>
    </div>

    <div class="card">
      <mat-icon>note_add</mat-icon>
      <h3>Agregar Cuestionario</h3>
      <p>Crea nuevos cuestionarios para tus estudiantes.</p>
      <a routerLink="/admin/add-examen">Agregar Cuestionario</a>
    </div>
  </div>

  <div class="utp-banner">
    <img src="../../../assets/banner_utp_admin.jpg" alt="UTP Banner" />
  </div>
</div>