<div class="side-menu">
  <nav class="nav-links">
    <a routerLink="/admin" class="menu-item">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </a>
    <a routerLink="/admin/categorias" class="menu-item">
      <mat-icon>list</mat-icon>
      <span>Categorías</span>
    </a>
    <a routerLink="/admin/add-categoria" class="menu-item">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Agregar Categoría</span>
    </a>

    <a routerLink="/admin/usuarios" class="menu-item">
      <mat-icon>people</mat-icon>
      <span>Lista de Estudiantes</span>
    </a>

    <a routerLink="/admin/examenes" class="menu-item">
      <mat-icon>quiz</mat-icon>
      <span>Cuestionarios</span>
    </a>
    <a routerLink="/admin/add-examen" class="menu-item">
      <mat-icon>add</mat-icon>
      <span>Agregar Cuestionario</span>
    </a>
    <a routerLink="/admin/profile" class="menu-item">
      <mat-icon>account_circle</mat-icon>
      <span>Perfil</span>
    </a>
  </nav>
</div>